.dm{
    width: 50%;
    margin: auto;
    .dmBtn{
        background: rgba(255,255,255,.3);
        color:#fff;
        border:none;
        outline: none;
        padding: 10px;
    }
    .dmRoom{
        margin-top: 10px;
    }
}